.commentlike
  %ul
    %li{:class=>"icons-likes"}
    %li
      %span= link_to "8", "#", :title =>"", :class => "icons-bg-like"
  %ul   
    %li{:class=>"icons-comments"}
    %li
      %span= link_to "11", "/comment.html", :title=>"", :class => "icons-bg-comment"


   