%dl.userstat
  -@number1 = (rand(9)*11 +19).to_s
  -@number2 = (rand(11)*11 +18).to_s
  -@number3 = (rand(7)*11 +22).to_s
  -@number4 = (rand(10)*11 +21).to_s
  %dt=link_to("分享", "#")
  %dd=@number1
  %dt=link_to("粉絲", "#")
  %dd=@number2
  %dt=link_to("關注", "#")
  %dd=@number3
  %dt=link_to("喜歡", "#")
  %dd=@number4