.author-wall{
  margin:0 auto;
}

.authorinfo{
  margin:2px 0;
  padding:5px;
}

.authorword{
  font-size:12px;
  width:200px;
  @include ellipsis(true);
}

.commentlike{
  @extend .itemtag;
  padding:5px 0;
  clear: both;
  // @include clearfix;
  margin: 5px 0;
  li{
    margin: 2px;
    color: black;
    float: left;
    line-height: 21px;
    a{
      color: black;
      text-decoration: none;
    }
  }
}

.icons-bg-comment, .icons-bg-like{
  font-size: 13px;
  font-weight: bold;
  padding: 0 5px 0 10px;
  @include border-radius(0 3px 3px 0);
}
.icons-comments, .icons-likes{
  width: 19px;
  height: 19px;
}

.commenthead{
  float:left;
  padding-right:10px;
}

.commentname{
  padding-bottom:2px;
  a{
    font-size:13px;
    text-decoration:none;
    color:#D98787;
  }
}

.commentword{
  font-size:12px;
  width:100px;
  @include ellipsis(true);
}
