.store.stores{
  padding:10px 5px 5px 5px;
  height:60px;
  // .storeimg{
    // margin-right:10px;
  // }
  .storeinfo{
    .storename{
      display:block;
      margin:2px 0 5px 55px;
    }
    .storeintro{
      margin:0 0 5px 55px;
      font-size:12px;
      width:150px;
      padding:10px 0;
      @include ellipsis(true);
    }
  }
}

.subtitle{
  padding:5px;
  margin-left:15px;
}
