$link-color:#D55358;

.userimg{
  // width:90px;
  margin:5px 10px 5px 5px;
  @include float-left;
}
.userinfo{
  padding:2px;
  margin:8px 0 5px 100px;
}

.username{
  padding:5px 0;
}
.authorname{
  padding:5px 0;
  a{
    text-decoration:none;
    color:$link-color;
  }
}

.userintro{
  font-size:12px;
  width:150px;
  padding:10px 0;
  @include ellipsis(true);
}

.userstat{
  @include clearfix;
  @include border-radius(5px);
  background:#F0EEEE;
  padding:2px;
  width:150px;
  height:35px;
  dt {
    @include float-left;
    font-size:12px;
    padding:0 5px;
    margin-left:2px;
    text-align:center;
    line-height:20px;
    a{
      text-decoration:none;
      color:$link-color;
    }
  }
  dd {
    @extend dt;
    width:20px;
    margin-left:-30px;
    margin-top:15px;
    right:25px;
    text-align:center;
  }  
}

.follow{
  margin-left:100px;
  width:100px;
  a{
    display:block;
    text-indent:-9999em;
    height:25px;
    width:100px;
  }
}
