#wrapper
  =partial "_partials/topbar"
  #leftnav
    %a{:href=>"index.html"}
      = image_tag "iwebkit5/home.png",:alt=>"home"
    %a{:href=>"javascript:history.back()",:alt=>"返回"}返回
  =partial "_partials/menu"
  #content
    %ul.pageitem
      %li.textbox
        .authorinfo
          .userimg= link_to image_tag(lorem.image("80x80"),:alt=>""),"#"
          .authorname= link_to lorem.name,"#"
          =partial "_partials/user_stat"
        .userintro= lorem.sentence
      %li.textbox
        .author-wall
          =partial "_partials/share_wall"
