#wrapper
  =partial "_partials/topbar"
  #leftnav
    %a{:href=>"index.html"}
      = image_tag "iwebkit5/home.png",:alt=>"home"
    %a{:href=>"javascript:history.back()",:alt=>"返回"}返回
  =partial "_partials/menu"
  %span.beautytitle
    熱門推薦
    %span.beautyword 
      看看女孩們都如何
      %em 漂亮穿搭
      、一起
      %em 分享美麗心得
  .main.centered
    =partial "_partials/share_wall" 
  
