#wrapper
  =partial "_partials/topbar"
  =partial "_partials/navleft"
  =partial "_partials/menu"
  .comments
    %ul.pageitem
      -10.times do
        %li.textbox
          .commenthead= link_to image_tag(lorem.image("30"),:alt=>""),"#"
          .commentname= link_to lorem.name,"#"
          .commentword= lorem.sentence
  .mycomment
    .graytitle Leave a comment
    %ul.pageitem
      %li.textbox
        %textarea{:name=>"TextArea", :rows=>"3"}
        
      
        
          
