#wrapper
  #topbar
    #title
      FG愛漂亮
    #rightbutton= link_to "完成","index.html"
  #content
    %span.graytitle 登入
    %ul.pageitem
      %li.smallfield
        %span.name 帳號
        %input{:id=>"id",:placeholder=>"your id",:type=>"text"}
      %li.smallfield
        %span.name 密碼
        %input{:id=>"password",:placeholder=>"your password",:type=>"password"}
    %span.graytitle Connection
    %ul
      %li.fbconnect= link_to "fbconnect","#",:class=>"buttons-fbconnect"
