#wrapper
  #topbar
    #title
      FG愛漂亮
  #content
    .graytitle 登入
    %ul.pageitem
      %li.textbox 帳號
      %li
        %textarea{:name=>"TextArea", :rows=>"1", :type=>"text"}
      %li.textbox 密碼
      %li
        %textarea{:name=>"TextArea", :rows=>"1", :type=>"password"}